* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.html {
  font-size: 10px; 
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #eee;
}

.main-header {
  height: 20vh;
  background-color: #aaa;
}

.header-title {
  margin-top: 1rem;
  text-align: center;
}

.header-sources {
  text-align: center;
}

.article {
  width: 85vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  flex-wrap: wrap;
  margin: 1rem auto;
  box-shadow: 0 0 .5rem rgba(0,0,0,0.7), 0 0 1rem rgba(0,0,0,0.3);
  background-color: #161B22;
  color: #fff;
}

.article-img-wrap {
  position: relative;
  width: 7.5rem;
  height: 7.5rem;
  overflow: hidden;
}

.article-img-wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
  transform: translate(-50%, -50%);
}

.article-text {
  width: calc(100% - 7.5rem);
  text-align: center;
  padding: 1rem;
}

.article-header {
  display: block;
  font-size: 1.1rem;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  margin-bottom: 1rem;
}

.article-description {
  font-size: .9rem;
}

.article-date {
  text-align: right;
  font-size: .7rem;
}

.nav-pagination {
  text-align: center;
  margin-top: 2rem;
}

.btn-prev,
.btn-next {
  font-size: 1.3rem;
  width: 3rem;
  height: 3rem;
  font-weight: bold;
  color: #555;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  margin: 0 1rem;
  cursor: pointer;
  transition: color .2s ease;
}

.btn-prev:hover,
.btn-next:hover {
  color: #000;
}

.nav-info {
  font-size: 1.2rem;
  font-weight: bold;
}
